body {
  font-family: Arial;
  padding: 10px;
  text-align: center;
  background: #f4f4f4;
}
header {
  background: white;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#main-logo {
  width: 100px;
  margin: 10px auto;
}
textarea, input, select {
  width: 90%;
  max-width: 400px;
  padding: 10px;
  margin: 10px auto;
  display: block;
}
button {
  padding: 10px 20px;
  background: #007a5e;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  background: #fff;
  margin: 5px auto;
  padding: 8px;
  width: 90%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
