#admin-section {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

section {
  margin-bottom: 25px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
}

button {
  background: #3b82f6;
  color: white;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 15px;
}

ul li button {
  margin-left: 5px;
  background: #10b981;
  padding: 5px 8px;
  font-size: 13px;
}
